*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    /*min-height: 100vh;*/
    scroll-behavior: smooth;
    /*text-rendering: optimizeSpeed;*/
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.hero {
    width: 35rem;
    text-align: center;
}

.hero-title {
    font-size: 4rem;
    width: 36rem;
    font-weight: 600;
}

.hero-title-img {
    width: 3rem;
    height: 3rem;
}

.hero-title-link {
    color: #00D0FE;
}

.hero-text-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    line-height: 1.5rem;
}

.hero-text {
    font-size: 1rem;
    font-weight: 600;
    width: 27rem;
    color: #444350;
}